.footer {
  /* background-color: #0d0d0d; */
  color: #f0f0f0;
  padding-top: 4rem;
  font-family: 'Inter', sans-serif;
}

.footer-heading {
  font-size: 2rem;
  font-weight: 600;
   background: linear-gradient(
    to right,
    #c0c0c0,
    #e0e0e0,
    #aaaaaa,
    #f2f2f2,
    #999999
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.footer-subheading {
  font-size: 1rem;
  color: #aaa;
  margin: 1rem 0;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.footer-buttons .btn {
  margin: 0.5rem;
  padding: 0.6rem 1.5rem;
  font-weight: 500;
}

.footer-middle {
  padding: 3rem 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.footer-columns h5 {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 1rem;
  font-weight: 600;
}

.footer-columns ul {
  list-style: none;
  padding: 0;
}

.footer-columns ul li {
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  color: #ccc;
  cursor: pointer;
  transition: color 0.2s ease;
}

.footer-columns ul li:hover {
   background: linear-gradient(
    to right,
    #c0c0c0,
    #e0e0e0,
    #aaaaaa,
    #f2f2f2,
    #999999
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.footer-bottom {
  padding: 2rem 0;
  border-top: 1px solid #222;
  text-align: center;
}

.footer-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
     background: linear-gradient(
    to right,
    #c0c0c0,
    #e0e0e0,
    #aaaaaa,
    #f2f2f2,
    #999999
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  
}

.footer-icons {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.footer-icons svg {
  margin: 0 0.5rem;
  cursor: pointer;
  color: #888;
  transition: color 0.3s;
}

.footer-icons svg:hover {
  color: #fff;
}

.footer-copy {
  font-size: 0.8rem;
  color: #666;
}

/* Responsive Layout */
@media (max-width: 991px) {
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    text-align: center;
  }

  .footer-col {
    flex: 1 1 40%;
    max-width: 45%;
  }
}

@media (max-width: 576px) {
  .footer-heading {
    font-size: 1.5rem;
  }

  .footer-subheading {
    font-size: 0.9rem;
    padding: 0 1rem;
  }

  .footer-buttons .btn {
    width: 100%;
    margin: 0.3rem 0;
  }

  .footer-col {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .footer-columns {
    flex-direction: column;
    align-items: center;
  }

  .footer-icons svg {
    margin: 0 0.4rem;
  }
}
