.ripple {
  position: fixed; /* use fixed so position is relative to viewport */
  width: 100px;
  height: 100px;
  border: 3px solid rgba(249, 251, 250, 0.8);
  border-radius: 50%;
  background-color: rgba(126, 127, 126, 0.2);
  transform: translate(-50%, -50%) scale(0);
  animation: ripple-animation 0.8s ease-out forwards;
  pointer-events: none;
  z-index: 9999;
}

@keyframes ripple-animation {
  to {
    transform: translate(-50%, -50%) scale(4);
    opacity: 0;
  }
}
